@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
*{
  -webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar{
  display: none;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  display: flex;
  align-items: center;
  flex-direction: column; 
}
input{
  font-family: var(--font-inter);
}


/* custom scrollbar styling */
#style-2::-webkit-scrollbar {
  height: 5px;
  background-color: #fff;
}

#style-2::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
  margin: 0 28px;
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #C8C8C8;
}

#style-2::-webkit-scrollbar-thumb:hover {
  background-color: #b5b5b5;
}


/* 
.home-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0;
  padding: 30px 36px;
  width: 100%;
  max-width: 1070px;
  border: 1px solid #0000001A;
  border-radius: 12px;
}
.tabs-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  border-bottom: 1.4px solid #E4E4E4;
}

.tab-btn {
  min-height: 44px;
  padding: 0 21px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-btn.active::after {
  content: "";
  position: absolute;
  bottom: -.7px;
  border-radius: 35px;
  min-height: 2px;
  left: 0;
  width: 100%;
  background-color: #BE212A;
}
.orders-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.order-card {
  border: 1px solid;
  border-image-source: linear-gradient(0deg, #C8C8C8, #C8C8C8),
  linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  border-radius: 12px;
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: column;
}
.order-date {
  padding-left: 28px;
  color: #000000;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 34px;
  gap: 4px;
  padding-bottom: 30px;
}
.order-date span{
  color: #848484;
  font-size: 16px;
  line-height: normal;
}
.product-list {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 16px;
  padding: 0 28px 18px 28px;
  -webkit-overflow-scrolling: touch;
}

#style-2::-webkit-scrollbar-track
{
	border-radius: 10px;
  margin: 0 28px;   
	background-color: #fff;
}

#style-2::-webkit-scrollbar
{
	height: 5px;    
	background-color: #fff;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #C8C8C8;
}

.product-card {
  padding: 23px 26px 22px 24px ;
  border: 1px solid #C8C8C8;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 24px;
}
.product-image {
  min-height: 59px;
  min-width: 59px;
  border-radius: 4px;
  background: #EAEFF5;
}
.product-content{
  display: flex;
  flex-direction: column;
  gap: 6px;
  white-space: nowrap;
}
.product-name {
  font-weight: 500;
}
.product-variant {
  font-size: 11px;
  color: #909090;
}
.product-qty {
  font-size: 12px;
  font-weight: 500;
}
.divider {}
.order-footer {
  padding-top: 24px;
  margin: 4px 28px 0 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top:  1px solid #C8C8C8;
}
.order-total {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: #848484;
}
.order-total span{
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}
.order-actions{
  display: flex;
  align-items: center;
  gap: 20px;
}
.order-again-btn {
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #E72D38;
  color: #E72D38;
  padding: 8px 5.5px 7px 12.5px ;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.order-again-btn.filled{
  background-color: #E72D38;
  color: #fff;
}
.no-orders {} */