@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
 
*{
  -webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar{
  display: none;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  display: flex;
  align-items: center;
  flex-direction: column; 
}
input{
  font-family: var(--font-inter);
}


#style-2::-webkit-scrollbar {
  height: 5px;
  background-color: #fff;
}

#style-2::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
  margin: 0 28px;
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #C8C8C8;
}

#style-2::-webkit-scrollbar-thumb:hover {
  background-color: #b5b5b5;
}