@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
input{
  font-family: var(--font-inter);
}


.login-container{
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.brand-section img{
  object-fit: contain;
  width: 190px;
}
.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 528px;
  gap: 34px;
}
.login-form h1{
  font-size: 48px;
  font-weight: 700;
  color: #171923;
}
.login-form p{
  font-size: 18px;
  line-height: 20px;
  color: #898A8D;
  font-weight: 400;

}

.login-options{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.login-options label{
  display: flex;
  align-items: center;
  gap: 8px;
  color: #718096;
  cursor: pointer;
}

.login-options a{
  font-weight: 500;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #1C4532;
}

.login-form button{
  background: #1C4532;
  min-height: 60px;
  width: 100%;
  border-radius: 20px;
  color: #F7FAFC;
  font-weight: 600;
  line-height: 28px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 6px;
}