@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  display: flex;
  align-items: center;
  flex-direction: column; 
}
input{
  font-family: var(--font-inter);
}


.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 50px;
  max-width: 1600px;
  border-bottom: 0.5px solid #E4E3E3
}
.header__nav{
  display: flex;
  gap: 49px;
  align-items: center;
  font-weight: 500;
}
.header__nav-btn{
  padding: 10px;
  color: #899197;
  cursor: pointer;
}
.header__nav-btn--active{
  background-color: #1C4532;
  color: #fff;
  padding: 10px 16px;
  border-radius: 100px;
}

.header__logout-btn{
  border: 1px solid #E72D38;
  border-radius: 66px;
  padding: 10px 24.5px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #E72D38;
  font-weight: 500;
}

.header__actions{
  display: flex;
  align-items: center;
  gap: 23px;
}
.header__cart{
  border-radius: 50%;
  border: 1px solid #1C45324D;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__cart-badge{
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;justify-content: center;
  font-size: 10px;
  color: white;
  right: -.8px;
  background: #E72D38;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid #FFFFFF
}
.header__logout-text{
}